@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* 
font-family: 'Abhaya Libre', serif;
font-family: 'Libre Baskerville', serif; */

/* .jeesection h2 {
    font-family: 'Abhaya Libre', serif;
    font-size: 2rem; 
}

.whyonline_ots h2 {

    font-size: 2rem; 
    font-family: 'Abhaya Libre', serif;
}

.wayOTS_-container h2 {

    font-family: 'Abhaya Libre', serif;
} */

/* .otsh1 h1 {
    font-size: 3rem; 
    font-family: 'Abhaya Libre', serif;
} */