*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.examtbl td{
    padding: 5px;
    text-align: justify;
    
}

.examtbl th {
    padding: 5px 3px;
    font-size: medium;
}

.exam_tbl {
    text-align: start;
}