.Pg_contact_bg{
    background:rgb(255, 247, 247);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact_data{
    margin: 0 auto;
    width: 80%;
}

.pg_contact_list{
    line-height: 1.5rem;
}


.contact_data .adres{
    font-size: 2rem;
    text-align: center;
    color: rgb(231 144 144);

}


.contact_data .Contact_Header{
    font-size: 2rem;
    text-align: center;
    color: rgb(231 144 144);
    margin-bottom: 1.5rem;
}

.Pg_contacttUs h1{
    color: rgb(231 144 144);
}

.Pg_Countact-contant{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.Pg_Addres{
    box-shadow: 0px 0px 8px -3px;
    width: 345px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}
form.Pg_contact_inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form.Pg_contact_inputs  input{
    width: 100%;
    height: 40px;
    padding: 0.8rem;
    border: 1px solid #0000003d;
    border-radius: 18px;
}
form.Pg_contact_inputs  select{
    border-radius: 18px;
    padding: 0 0.8rem;


}

form.Pg_contact_inputs  textarea{
    border-radius: 18px;
    padding:  0.8rem;


}

form.Pg_contact_inputs  input[type=submit]{
    width: 150px;
    margin: 10px;
    /* padding: 15px 30px; */

    text-transform: uppercase;
    transition: 0.5s;
   
    color: white;
    border-radius: 10px;

    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, rgb(231 144 144) 0%, #F09819 51%, rgb(231 144 144) 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 auto;
    margin-right: 0;
    /* margin-left: 0; */
    
    /* align-items: flex-end; */
}


/* .Pg_contact_inputs input{
   
    width: 345px;
    height: 2rem;
    box-shadow: 0px 0px 8px -3px;
} */
.Pg_contact_inputs select{
   
    width: 345px;
    height: 2rem;
    box-shadow: 0px 0px 8px -3px;
}
.Pg_contact_inputs textarea{
    width: 345px;
    height: 100px;
    box-shadow: 0px 0px 8px -3px;
}

.Pg_map iframe.text1 {
    width: 345px;
    height: 400px;
}

.Pg_contact_inputs{
    width: 345px;
    height: auto;
}
.Pg_Addres_ulList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Pg_Addres_ulList li{
    font-size: 20px;
    color: rgb(97, 97, 97);
}