.FAQuG {
  font-size: 2rem;
  text-align: center;
  color: #00a3ff;
  margin: 1.5rem auto;
}

.UG_faqdiv {
  background-color: #279eff21;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.ug_faq_container {
  width: 80%;
  margin: 0 auto;
}

.UG_accordion2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.uG_wrapper-2 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.uG_wrapper-2 h3 {
  margin: 2.5rem auto;
  font-size: 100 2rem #fff;
  color: #fff;
}

.item1 {
  margin-bottom: 5px;
  padding: 10px 20px;
  width: 35vmax;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  color: #000000;
}

.content-show {
  height: auto;
  color: #000000;
  max-height: 999999;
  transition: all 5s;
}

/* .wrapper-3 {
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    align-items: center;

 
} */

.ug_item2 {
  margin-bottom: 5px;
  padding: 10px 20px;
  /* width: 35vmax; */
}
.ug_faqtitle {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: rgb(0, 0, 0);
  background: #fff;
  padding: 18px;
}
.ug_faqtitle {
  cursor: pointer;
}
h2 {
  font-size: 1rem;
}

.ug_content2 {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.ug_content-show2 {
  display: flex;
  height: auto;
  color: #000;
  transition: all 1s;
  /* background: #e8e8e8; */
  padding: 10px 10px;
  margin-top: 2px;
  border-style: solid;
  border-width: 1.5px;
  border-top: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: justify;
}

.ug_faqtitle {
  background-color: #000000;
  color: #fff;
  text-align: justify;
}

/* @media only screen and (min-width:992px) and (max-width: 1023px) {}
            @media only screen and (min-width: 767px) and (max-width: 991px) {}
            @media only screen and (max-width: 768px) {} */
/* ==================== TABLET RESPONSIVE ================ */
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .UG_accordion2 {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .UG_accordion2 {
    display: flex;
    flex-direction: column;
  }

  .ug_faq_container {
    width: 95%;
  }
}
